<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>E-commerce Project</title>
    <style>
        h1 {
            font-size: 1.75em;
        }
        label {
            font-size: 1.25em;
        }
        input {
            margin: 20px;
            font-size: 1.25em;
        }
        .error {
            color: crimson;
            font-size: 1.25em;
        }
        button, .loginLink {
            font-size: 1.25em;
            font-weight: bold;
            background-color: khaki;
            padding: 15px;
            border-radius: 3px;
        }
        button:hover {
            background-color: lightgreen;
        }
        .welcome {
            font-size: 1.25em;
        }
        .username {
            background-color: khaki;
        }
        .userId {
            background-color: lightgreen;
        }
    </style>
</head>
<body>

{{{body}}}

</body>
</html>