<h1>Logged In View</h1>

<p class="welcome">Welcome, <span class="username">{{ USERNAME }}</span>!  Your customer id is <span class="userId">{{ USER_ID }}</span>.</p>

<form action="/login/authenticated/logout" method="POST">
    <button type="submit">LOG OUT</button>
</form>

